# Programação Python para Ciência de Dados

## Homework Numpy e Pandas - Parte I

In [0]:
import numpy as np
import pandas as pd

from google.colab import files

uploaded = files.upload()

Saving WorldCupMatches.csv to WorldCupMatches.csv

#### 1) Leia o arquivo csv 'WorldCupMatches.csv'.
- Esse dataframe não possui nomes das colunas! Use lista `nomes` (abaixo) para dar nomes às colunas (faça uma busca na web para entender como ler uma .csv com Pandas onde os índices das colunas não são especificados).
- Salve o DataFrame em uma variável
- Exiba as 5 primeiras linhas e o tipo de dado de cada coluna
- Quantas linhas possui o DataFrame?
- Remova linhas duplicadas usando `.drop_duplicates(inplace = True)`. Quantas linhas há agora?

In [0]:
nomes = ['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'HomeTeamName',
'HomeTeamGoals', 'AwayTeamGoals', 'AwayTeamName',
'WinConditions', 'Attendance', 'HalfTimeHomeGoals',
'HalfTimeAwayGoals', 'Referee', 'Assistant1', 'Assistant2',
'RoundID', 'MatchID', 'HomeTeamInitials', 'AwayTeamInitials']

In [0]:
df = pd.read_csv('WorldCupMatches.csv',
                 names = ['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'HomeTeamName',
'HomeTeamGoals', 'AwayTeamGoals', 'AwayTeamName',
'WinConditions', 'Attendance', 'HalfTimeHomeGoals',
'HalfTimeAwayGoals', 'Referee', 'Assistant1', 'Assistant2',
'RoundID', 'MatchID', 'HomeTeamInitials', 'AwayTeamInitials'])

In [0]:
# 5 primeiras linhas 

df.head()

   Year              Datetime  ... HomeTeamInitials AwayTeamInitials
0  1930  13 Jul 1930 - 15:00   ...              FRA              MEX
1  1930  13 Jul 1930 - 15:00   ...              USA              BEL
2  1930  14 Jul 1930 - 12:45   ...              YUG              BRA
3  1930  14 Jul 1930 - 14:50   ...              ROU              PER
4  1930  15 Jul 1930 - 16:00   ...              ARG              FRA

[5 rows x 20 columns]

In [0]:
# tipo de dado de cada coluna
df.dtypes

Year                   int64
Datetime              object
Stage                 object
Stadium               object
City                  object
HomeTeamName          object
HomeTeamGoals          int64
AwayTeamGoals          int64
AwayTeamName          object
WinConditions         object
Attendance           float64
HalfTimeHomeGoals      int64
HalfTimeAwayGoals      int64
Referee               object
Assistant1            object
Assistant2            object
RoundID                int64
MatchID                int64
HomeTeamInitials      object
AwayTeamInitials      object
dtype: object

In [0]:
# numero de linhas
len(df)

852

In [0]:
# numero de linhas sem repeticao
df.duplicated()
df = df.drop_duplicates()
len(df)
df.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
806    False
807    False
808    False
809    False
810    False
811    False
812    False
813    False
814    False
815    False
816    False
817    False
818    False
819    False
820    False
821    False
822    False
823    False
824    False
825    False
826    False
827    False
828    False
829    False
830    False
831    False
832    False
833    False
834    False
835    False
Length: 836, dtype: bool

#### 2) Remova as colunas listadas abaixo:

```python
['HalfTimeHomeGoals','HalfTimeAwayGoals',
 'Referee', 'Assistant1', 'Assistant2',
'RoundID', 'MatchID', 'HomeTeamInitials', 'AwayTeamInitials']
```

In [0]:
# SOLUÇÃO

rem = ['HalfTimeHomeGoals','HalfTimeAwayGoals',
 'Referee', 'Assistant1', 'Assistant2',
'RoundID', 'MatchID', 'HomeTeamInitials', 'AwayTeamInitials']

In [0]:
del df['HalfTimeHomeGoals']
del df['HalfTimeAwayGoals']
del df['Referee']
del df['Assistant1']
del df['Assistant2']
del df['RoundID']
del df['MatchID']
del df['HomeTeamInitials']
del df['AwayTeamInitials']

In [0]:
df.head()

   Year              Datetime    Stage  ... AwayTeamName WinConditions Attendance
0  1930  13 Jul 1930 - 15:00   Group 1  ...       Mexico                   4444.0
1  1930  13 Jul 1930 - 15:00   Group 4  ...      Belgium                  18346.0
2  1930  14 Jul 1930 - 12:45   Group 2  ...       Brazil                  24059.0
3  1930  14 Jul 1930 - 14:50   Group 3  ...         Peru                   2549.0
4  1930  15 Jul 1930 - 16:00   Group 1  ...       France                  23409.0

[5 rows x 11 columns]

#### 3) Faça uma busca para selecionar apenas as partidas de semi-finais. Verifique primeiro a sintaxe das palavas na coluna Stage. Utilize o método .unique() na coluna Stage e identifique como semi-final está escrito. Por fim, faça uma busca para selecionar apenas as semi-finais da tabela.

In [0]:
# SOLUÇÃO

list= [df['Stage']]
listStage = df['Stage'].values


import numpy as np 
  
# function to get unique values 
def unique(l1): 
    x = np.array(l1) 
    print(np.unique(x)) 
    
    
unique(listStage)

#unique = [x for i, x in enumerate(array) if i == array.index(x)]

['Final' 'First round' 'Group 1' 'Group 2' 'Group 3' 'Group 4' 'Group 5'
 'Group 6' 'Group A' 'Group B' 'Group C' 'Group D' 'Group E' 'Group F'
 'Group G' 'Group H' 'Match for third place' 'Play-off for third place'
 'Preliminary round' 'Quarter-finals' 'Round of 16' 'Semi-finals'
 'Third place']

In [0]:
# SOLUÇÃO
df.query('Stage == "Semi-finals"'  )

     Year               Datetime  ... HomeTeamInitials AwayTeamInitials
15   1930   26 Jul 1930 - 14:45   ...              ARG              USA
16   1930   27 Jul 1930 - 14:45   ...              URU              YUG
31   1934   03 Jun 1934 - 16:30   ...              ITA              AUT
32   1934   03 Jun 1934 - 16:30   ...              TCH              GER
49   1938   16 Jun 1938 - 18:00   ...              HUN              SWE
50   1938   16 Jun 1938 - 18:00   ...              ITA              BRA
97   1954   30 Jun 1954 - 18:00   ...              FRG              AUT
98   1954   30 Jun 1954 - 18:00   ...              HUN              URU
132  1958   24 Jun 1958 - 19:00   ...              SWE              FRG
133  1958   24 Jun 1958 - 19:00   ...              BRA              FRA
164  1962   13 Jun 1962 - 14:30   ...              TCH              YUG
165  1962   13 Jun 1962 - 14:30   ...              BRA              CHI
196  1966   25 Jul 1966 - 19:30   ...              FRG              URS
197  1966   26 Jul 1966 - 19:30   ...              ENG              POR
228  1970   17 Jun 1970 - 16:00   ...              BRA              URU
229  1970  17 June 1970 - 16:00   ...              ITA              FRG
356  1982   08 Jul 1982 - 17:15   ...              POL              ITA
357  1982   08 Jul 1982 - 21:00   ...              FRG              FRA
408  1986   25 Jun 1986 - 12:00   ...              FRA              FRG
409  1986   25 Jun 1986 - 16:00   ...              ARG              BEL
460  1990   03 Jul 1990 - 20:00   ...              ITA              ARG
461  1990   04 Jul 1990 - 20:00   ...              FRG              ENG
512  1994   13 Jul 1994 - 16:00   ...              BUL              ITA
513  1994   13 Jul 1994 - 16:30   ...              SWE              BRA
576  1998   07 Jul 1998 - 21:00   ...              BRA              NED
577  1998   08 Jul 1998 - 21:00   ...              FRA              CRO
640  2002   25 Jun 2002 - 20:30   ...              GER              KOR
641  2002   26 Jun 2002 - 20:30   ...              BRA              TUR
704  2006   04 Jul 2006 - 21:00   ...              GER              ITA
705  2006   05 Jul 2006 - 21:00   ...              POR              FRA
768  2010   06 Jul 2010 - 20:30   ...              URU              NED
769  2010   07 Jul 2010 - 20:30   ...              GER              ESP
826  2014   08 Jul 2014 - 17:00   ...              BRA              GER
829  2014   09 Jul 2014 - 17:00   ...              NED              ARG
848  2014   08 Jul 2014 - 17:00   ...              BRA              GER
849  2014   09 Jul 2014 - 17:00   ...              NED              ARG

[36 rows x 20 columns]

#### 4) Conte o número de vezes que cada estádio já recebeu um jogo de semi-final.

In [0]:
# SOLUÇÃO

df.query('Stage == "Semi-finals"'  ).Stadium.value_counts()

Estadio Centenario                  2
Jalisco                             2
Estadio Azteca                      2
Arena de Sao Paulo                  2
Estadio Mineirao                    2
Stade V�lodrome                     2
Estadio Sausalito                   1
Nazionale PNF                       1
St. Jakob                           1
Ramon Sanchez Pizjuan               1
Durban Stadium                      1
San Siro                            1
Parc des Princes                    1
Nya Ullevi                          1
La Pontaise                         1
Camp Nou                            1
Stade de France                     1
Rasunda Stadium                     1
Nacional                            1
Wembley Stadium                     1
Saitama Stadium 2002                1
Rose Bowl                           1
Goodison Park                       1
FIFA World Cup Stadium, Munich      1
Stadio delle Alpi                   1
FIFA World Cup Stadium, Dortmund    1
Giants Stadium                      1
San Paolo                           1
Cape Town Stadium                   1
Seoul World Cup Stadium             1
Name: Stadium, dtype: int64

#### 5)** Faça um query para obter todas as partidas que o Brasil jogou contra a Alemanha.

In [0]:
# SOLUÇÃO

df.query('HomeTeamName == "Germany"  and  AwayTeamName=="Brazil"   or  HomeTeamName == "Brazil"  and  AwayTeamName=="Germany" '  )

     Year              Datetime  ... WinConditions Attendance
643  2002  30 Jun 2002 - 20:00   ...                  69029.0
826  2014  08 Jul 2014 - 17:00   ...                  58141.0
848  2014  08 Jul 2014 - 17:00   ...                  58141.0

[3 rows x 11 columns]

#### 6) Vamos para o Numpy novamente . Crie uma variável para receber a matriz Numpy a partir do DataFrame.
Lembrando:
```python
nparray = dataframe.values
```

##### a) Utilizando a matriz Numpy, construa um dicionário que conta quantos gols cada país já fez em copas

In [0]:
# SOLUÇÃO

m = df[['HomeTeamName','HomeTeamGoals','AwayTeamName','AwayTeamGoals']].values
gols={}

for p1, g1, p2, g2 in m:
    
    if p1 not in gols:
        gols[p1] = g1
    else:
        gols[p1] +=g1

    if p2 not in gols:
        gols[p2] = g2
    else:
        gols[p2] +=g2
gols

{'Algeria': 14,
 'Angola': 1,
 'Argentina': 133,
 'Australia': 11,
 'Austria': 43,
 'Belgium': 54,
 'Bolivia': 1,
 'Brazil': 225,
 'Bulgaria': 22,
 'Cameroon': 18,
 'Canada': 0,
 'Chile': 41,
 'China PR': 0,
 'Colombia': 29,
 'Costa Rica': 18,
 'Croatia': 21,
 'Cuba': 5,
 'Czech Republic': 3,
 'Czechoslovakia': 44,
 "C�te d'Ivoire": 13,
 'Denmark': 27,
 'Dutch East Indies': 0,
 'Ecuador': 10,
 'Egypt': 3,
 'El Salvador': 1,
 'England': 79,
 'France': 108,
 'German DR': 5,
 'Germany': 104,
 'Germany FR': 131,
 'Ghana': 13,
 'Greece': 6,
 'Haiti': 2,
 'Honduras': 3,
 'Hungary': 87,
 'IR Iran': 2,
 'Iran': 5,
 'Iraq': 1,
 'Israel': 1,
 'Italy': 128,
 'Jamaica': 3,
 'Japan': 14,
 'Korea DPR': 6,
 'Korea Republic': 31,
 'Kuwait': 2,
 'Mexico': 58,
 'Morocco': 12,
 'Netherlands': 91,
 'New Zealand': 4,
 'Nigeria': 20,
 'Northern Ireland': 13,
 'Norway': 7,
 'Paraguay': 30,
 'Peru': 19,
 'Poland': 44,
 'Portugal': 43,
 'Romania': 30,
 'Russia': 13,
 'Saudi Arabia': 9,
 'Scotland': 25,
 'Senegal': 7,
 'Serbia': 2,
 'Slovakia': 5,
 'Slovenia': 5,
 'South Africa': 11,
 'Soviet Union': 53,
 'Spain': 92,
 'Sweden': 74,
 'Switzerland': 45,
 'Togo': 1,
 'Tunisia': 8,
 'Turkey': 20,
 'USA': 38,
 'Ukraine': 5,
 'Uruguay': 80,
 'Wales': 4,
 'Yugoslavia': 60,
 'Zaire': 0,
 'rn">Bosnia and Herzegovina': 4,
 'rn">Republic of Ireland': 10,
 'rn">Serbia and Montenegro': 2,
 'rn">Trinidad and Tobago': 0,
 'rn">United Arab Emirates': 2}

##### b) Utilizando a matriz Numpy, construa um dicionário que conta o público (Attendance) total que o país já teve em copas.

In [0]:
# SOLUÇÃO
listapublico = df[['HomeTeamName','AwayTeamName','Attendance']].values
attend={}
for p1, p2, publico in listapublico:
    
    if p1 not in attend:
        attend[p1] = publico
    else:
        attend[p1] += publico
        
    if p2 not in attend:
        attend[p2] = publico
    else:
        attend[p2] += publico 
        
attend

{'Algeria': nan,
 'Angola': 126000.0,
 'Argentina': 4308026.0,
 'Australia': 555535.0,
 'Austria': 993170.0,
 'Belgium': 2159973.0,
 'Bolivia': 229715.0,
 'Brazil': 5925042.0,
 'Bulgaria': 1160335.0,
 'Cameroon': 1068503.0,
 'Canada': 93500.0,
 'Chile': 1333656.0,
 'China PR': 107572.0,
 'Colombia': 1019379.0,
 'Costa Rica': 775439.0,
 'Croatia': 740670.0,
 'Cuba': 22000.0,
 'Czech Republic': 147000.0,
 'Czechoslovakia': 891114.0,
 "C�te d'Ivoire": 491842.0,
 'Denmark': 654045.0,
 'Dutch East Indies': 9000.0,
 'Ecuador': 549877.0,
 'Egypt': 110535.0,
 'El Salvador': 355742.0,
 'England': 2940845.0,
 'France': 2787187.0,
 'German DR': 287965.0,
 'Germany': nan,
 'Germany FR': 3273775.0,
 'Ghana': 636950.0,
 'Greece': 510852.0,
 'Haiti': 104200.0,
 'Honduras': 327212.0,
 'Hungary': 850165.0,
 'IR Iran': 234159.0,
 'Iran': 199762.0,
 'Iraq': 147763.0,
 'Israel': 40168.0,
 'Italy': 4209004.0,
 'Jamaica': 122700.0,
 'Japan': 749774.0,
 'Korea DPR': 247613.0,
 'Korea Republic': 1401968.0,
 'Kuwait': 94743.0,
 'Mexico': 2604898.0,
 'Morocco': 420697.0,
 'Netherlands': 2867980.0,
 'New Zealand': 194950.0,
 'Nigeria': 920343.0,
 'Northern Ireland': 312369.0,
 'Norway': 390023.0,
 'Paraguay': 971335.0,
 'Peru': 411889.0,
 'Poland': 1254183.0,
 'Portugal': 1266789.0,
 'Romania': 1023420.0,
 'Russia': 521941.0,
 'Saudi Arabia': 701859.0,
 'Scotland': 783776.0,
 'Senegal': 223722.0,
 'Serbia': 114963.0,
 'Slovakia': 165888.0,
 'Slovenia': 218791.0,
 'South Africa': 390299.0,
 'Soviet Union': 1237114.0,
 'Spain': 2638930.0,
 'Sweden': 2024201.0,
 'Switzerland': 1489591.0,
 'Togo': 158000.0,
 'Tunisia': 525357.0,
 'Turkey': 383186.0,
 'USA': 1486175.0,
 'Ukraine': 260000.0,
 'Uruguay': 2314405.0,
 'Wales': 89526.0,
 'Yugoslavia': 1318618.0,
 'Zaire': 94900.0,
 'rn">Bosnia and Herzegovina': 163248.0,
 'rn">Republic of Ireland': 650601.0,
 'rn">Serbia and Montenegro': 161000.0,
 'rn">Trinidad and Tobago': 149959.0,
 'rn">United Arab Emirates': 129793.0}

#### c) Insira os dois dicionários acima em outro dicionário para criar um DataFrame onde cada dicionário representa uma coluna. Salve o DataFrame em um arquivo .csv.

In [0]:
# SOLUÇÃO
df = pd.DataFrame({'Goals': gols, 'Attendance' : attend})
df.to_csv('samanta.csv', index=False)
df

                            Goals  Attendance
Algeria                        14         NaN
Angola                          1    126000.0
Argentina                     133   4308026.0
Australia                      11    555535.0
Austria                        43    993170.0
Belgium                        54   2159973.0
Bolivia                         1    229715.0
Brazil                        225   5925042.0
Bulgaria                       22   1160335.0
Cameroon                       18   1068503.0
Canada                          0     93500.0
Chile                          41   1333656.0
China PR                        0    107572.0
Colombia                       29   1019379.0
Costa Rica                     18    775439.0
Croatia                        21    740670.0
Cuba                            5     22000.0
Czech Republic                  3    147000.0
Czechoslovakia                 44    891114.0
C�te d'Ivoire                  13    491842.0
Denmark                        27    654045.0
Dutch East Indies               0      9000.0
Ecuador                        10    549877.0
Egypt                           3    110535.0
El Salvador                     1    355742.0
England                        79   2940845.0
France                        108   2787187.0
German DR                       5    287965.0
Germany                       104         NaN
Germany FR                    131   3273775.0
...                           ...         ...
Peru                           19    411889.0
Poland                         44   1254183.0
Portugal                       43   1266789.0
Romania                        30   1023420.0
Russia                         13    521941.0
Saudi Arabia                    9    701859.0
Scotland                       25    783776.0
Senegal                         7    223722.0
Serbia                          2    114963.0
Slovakia                        5    165888.0
Slovenia                        5    218791.0
South Africa                   11    390299.0
Soviet Union                   53   1237114.0
Spain                          92   2638930.0
Sweden                         74   2024201.0
Switzerland                    45   1489591.0
Togo                            1    158000.0
Tunisia                         8    525357.0
Turkey                         20    383186.0
USA                            38   1486175.0
Ukraine                         5    260000.0
Uruguay                        80   2314405.0
Wales                           4     89526.0
Yugoslavia                     60   1318618.0
Zaire                           0     94900.0
rn">Bosnia and Herzegovina      4    163248.0
rn">Republic of Ireland        10    650601.0
rn">Serbia and Montenegro       2    161000.0
rn">Trinidad and Tobago         0    149959.0
rn">United Arab Emirates        2    129793.0

[83 rows x 2 columns]

** faça upload de um notebook com a solução da questão 5) (pode fazer upload de todo homework se quiser) no google drive no diretório: <br><br>
[http://tiny.cc/4quwdz](http://tiny.cc/4quwdz)

O nome do notebook deve ser: <br><br>
_seuprimeironome-seuultimonome-modulo3.ipynb_

Por exemplo: _gustavo-nonato-modulo3.ipynb_